h1 , h2{
	
	font-family: 'Roboto', sans-serif;
	line-height: 1.8
}

body {
 	color: #FDEFF4;
	background-color: #524A4E;
	font-family: 'Lora', serif;
	 font-size: 16px;
	line-height: 1.4;
	letter-spacing: 1px;
	font-weight: 400
}

h1{
	text-align: center;
	font-size: 30px;
	color: #FF5C8D;
	font-weight: 900
}

h2 {
	
	font-size: 20px;
	font-weight: 700;
	color: #FF5C8D;
}
a {
	text-decoration: none;
	color: #FFC0D3;
	font-family: 'Roboto', sans-serif;
}
a:hover {
	color: #FF5C8D;
	font-family: 'Roboto', sans-serif;
	text-decoration: underline;
}

.container {
	width: 700px;
	margin:40px auto;

}
@media(max-width: 760px){
	.container{
		width: 600px;
	}
}
@media(max-width: 600px) {
	.container{
		width: 400px;
	}
}



.card-white {
	background: white
	padding: 30px;
	border-radius: 4px;
	box-shadow: 0 10px 30px rgba(0,0,0,.1);
	text-align: center;
}
.image-circle  {
	border-radius: 50%; 
	border-image-width: 50%;
}
.btn-pink {
	background-color: #FF5C8D;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-pink:hover {
	background-color: #FFC0D3 ;
	padding: 15px 20px;
	border-radius: 4px;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li{
	display: inline;
	padding: 10px;
}
.list-inline i{
	font-size: 50px;

}
#introduction p{
	margin-bottom: 40px;
}
#introduction{
	padding-bottom: 40px;
}